In [2]:
import pandas as pd
import numpy as np

/home/ar600/anaconda2/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [2]:
water = pd.read_csv('water.txt', delimiter='\t')
water.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [3]:
water[['mortality', 'hardness']].corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [3]:
from scipy import stats

In [7]:
stats.spearmanr(water[['mortality', 'hardness']])

SpearmanrResult(correlation=-0.63166461891665027, pvalue=4.79546153722838e-08)

In [11]:
south = water[water.location=='South']
north = water[water.location=='North']

In [13]:
south.corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [14]:
north.corr()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [15]:
a = 239
b = 515
c = 203
d = 718

In [16]:
mcc = (a*d-b*c)/np.sqrt((a+b)*(a+c)*(b+d)*(c+d))
print mcc

0.109002374587

In [17]:
obs = np.array([[a, b], [c, d]])
stats.chi2_contingency(obs)

(19.407530788543038,
 1.0558987006638725e-05,
 1,
 array([[ 198.96597015,  555.03402985],
        [ 243.03402985,  677.96597015]]))

In [18]:
def proportions_confint_diff_ind(sample1, sample2, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)   
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)

In [19]:
men = np.concatenate([np.ones(a), np.zeros(b)])
women = np.concatenate([np.ones(c), np.zeros(d)])

In [20]:
print proportions_confint_diff_ind(men, women)

(0.053905233215813156, 0.13922183141523897)

In [21]:
def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = len(sample1)
    n2 = len(sample2)
    
    p1 = float(sum(sample1)) / n1
    p2 = float(sum(sample2)) / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [22]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [23]:
print proportions_diff_z_test(proportions_diff_z_stat_ind(men, women))

8.15345308958e-06

In [24]:
happy = np.array([[197, 111, 33], [382, 685, 331], [110, 342, 333]])
stats.chi2_contingency(happy)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[  93.08597464,  153.74722662,   94.16679873],
        [ 381.6251981 ,  630.318542  ,  386.0562599 ],
        [ 214.28882726,  353.93423138,  216.77694136]]))

In [27]:
chi2 = stats.chi2_contingency(happy)[0]
n = np.sum(happy)
vkr = np.sqrt(chi2/(n*2))

In [28]:
vkr

0.2412013934500338

In [31]:
aucs = pd.read_csv('AUCs.txt', delimiter='\t')

In [32]:
aucs

                 Unnamed: 0   C4.5  C4.5+m  C4.5+cf  C4.5+m+cf
0            adult (sample)  0.763   0.768    0.771      0.798
1             breast cancer  0.599   0.591    0.590      0.569
2   breast cancer wisconsin  0.954   0.971    0.968      0.967
3                       cmc  0.628   0.661    0.654      0.657
4                ionosphere  0.882   0.888    0.886      0.898
5                      iris  0.936   0.931    0.916      0.931
6           liver disorders  0.661   0.668    0.609      0.685
7               lung cancer  0.583   0.583    0.563      0.625
8              lymphography  0.775   0.838    0.866      0.875
9                  mushroom  1.000   1.000    1.000      1.000
10            primary tumor  0.940   0.962    0.965      0.962
11                    rheum  0.619   0.666    0.614      0.669
12                   voting  0.972   0.981    0.975      0.975
13                     wine  0.957   0.978    0.946      0.970

In [41]:
wilcoxon = [stats.wilcoxon(aucs['C4.5'], aucs['C4.5+m']), stats.wilcoxon(aucs['C4.5'], aucs['C4.5+cf']), stats.wilcoxon(aucs['C4.5'], aucs['C4.5+m+cf']),
           stats.wilcoxon(aucs['C4.5+m'], aucs['C4.5+cf']), stats.wilcoxon(aucs['C4.5+m'], aucs['C4.5+m+cf']), stats.wilcoxon(aucs['C4.5+cf'], aucs['C4.5+m+cf'])]

In [42]:
wilcoxon

[WilcoxonResult(statistic=6.5, pvalue=0.01075713311978963),
 WilcoxonResult(statistic=43.0, pvalue=0.86126233009534803),
 WilcoxonResult(statistic=11.0, pvalue=0.015906444101703374),
 WilcoxonResult(statistic=17.0, pvalue=0.046332729793395394),
 WilcoxonResult(statistic=22.0, pvalue=0.32782567584464062),
 WilcoxonResult(statistic=10.0, pvalue=0.022909099354356588)]

In [4]:
from statsmodels.sandbox.stats.multicomp import multipletests

In [45]:
pvalues = np.array(wilcoxon)[:,1]
print pvalues

[ 0.01075713  0.86126233  0.01590644  0.04633273  0.32782568  0.0229091 ]

In [48]:
multipletests(pvalues, alpha = 0.05, method = 'fdr_bh')

(array([ True, False,  True, False, False,  True], dtype=bool),
 array([ 0.0458182 ,  0.86126233,  0.0458182 ,  0.06949909,  0.39339081,
         0.0458182 ]),
 0.008512444610847103,
 0.008333333333333333)

In [53]:
botswana = pd.read_csv('botswana.tsv', delimiter='\t')
print botswana.shape
botswana.head()

(4361, 15)

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle
0,0,18,10,catholic,4.0,1.0,1.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
1,2,43,11,protestant,2.0,1.0,1.0,1,20.0,14.0,1,1.0,1.0,1.0,1.0
2,0,49,4,spirit,4.0,1.0,0.0,1,22.0,1.0,1,1.0,1.0,0.0,0.0
3,0,24,12,other,2.0,1.0,0.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
4,3,32,13,other,3.0,1.0,1.0,1,24.0,12.0,1,1.0,1.0,1.0,1.0

In [33]:
botswana.religion.value_counts()

spirit        1841
other         1080
protestant     993
catholic       447
Name: religion, dtype: int64

In [34]:
botswana_dropped=botswana.dropna()

In [35]:
botswana_dropped.shape

(1834, 15)

In [54]:
botswana['nevermarr']=[1 if np.isnan(agefm) else 0 for agefm in botswana.agefm]
botswana.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr
0,0,18,10,catholic,4.0,1.0,1.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0,1
1,2,43,11,protestant,2.0,1.0,1.0,1,20.0,14.0,1,1.0,1.0,1.0,1.0,0
2,0,49,4,spirit,4.0,1.0,0.0,1,22.0,1.0,1,1.0,1.0,0.0,0.0,0
3,0,24,12,other,2.0,1.0,0.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0,1
4,3,32,13,other,3.0,1.0,1.0,1,24.0,12.0,1,1.0,1.0,1.0,1.0,0

In [55]:
botswana.drop('evermarr',axis=1, inplace=True)
botswana.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr
0,0,18,10,catholic,4.0,1.0,1.0,NaN,NaN,1,1.0,1.0,1.0,1.0,1
1,2,43,11,protestant,2.0,1.0,1.0,20.0,14.0,1,1.0,1.0,1.0,1.0,0
2,0,49,4,spirit,4.0,1.0,0.0,22.0,1.0,1,1.0,1.0,0.0,0.0,0
3,0,24,12,other,2.0,1.0,0.0,NaN,NaN,1,1.0,1.0,1.0,1.0,1
4,3,32,13,other,3.0,1.0,1.0,24.0,12.0,1,1.0,1.0,1.0,1.0,0

In [56]:
botswana.agefm.fillna(0, inplace=True)
botswana.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr
0,0,18,10,catholic,4.0,1.0,1.0,0.0,NaN,1,1.0,1.0,1.0,1.0,1
1,2,43,11,protestant,2.0,1.0,1.0,20.0,14.0,1,1.0,1.0,1.0,1.0,0
2,0,49,4,spirit,4.0,1.0,0.0,22.0,1.0,1,1.0,1.0,0.0,0.0,0
3,0,24,12,other,2.0,1.0,0.0,0.0,NaN,1,1.0,1.0,1.0,1.0,1
4,3,32,13,other,3.0,1.0,1.0,24.0,12.0,1,1.0,1.0,1.0,1.0,0

In [58]:
botswana.heduc = np.where(botswana.nevermarr==1, -1, botswana.heduc)
botswana.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr
0,0,18,10,catholic,4.0,1.0,1.0,0.0,-1.0,1,1.0,1.0,1.0,1.0,1
1,2,43,11,protestant,2.0,1.0,1.0,20.0,14.0,1,1.0,1.0,1.0,1.0,0
2,0,49,4,spirit,4.0,1.0,0.0,22.0,1.0,1,1.0,1.0,0.0,0.0,0
3,0,24,12,other,2.0,1.0,0.0,0.0,-1.0,1,1.0,1.0,1.0,1.0,1
4,3,32,13,other,3.0,1.0,1.0,24.0,12.0,1,1.0,1.0,1.0,1.0,0

In [64]:
sum(botswana.heduc.isnull())

123

In [65]:
botswana['idlnchld_noans']=[1 if np.isnan(val) else 0 for val in botswana.idlnchld]
botswana['heduc_noans']=[1 if np.isnan(val) else 0 for val in botswana.heduc]
botswana['usemeth_noans']=[1 if np.isnan(val) else 0 for val in botswana.usemeth]
botswana.tail()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr,idlnchld_noans,heduc_noans,usemeth_noans
4356,0,16,7,protestant,2.0,1.0,0.0,0.0,-1.0,0,0.0,1.0,0.0,0.0,1,0,0,0
4357,2,28,7,protestant,4.0,1.0,1.0,0.0,-1.0,0,0.0,1.0,0.0,0.0,1,0,0,0
4358,4,24,5,protestant,4.0,1.0,1.0,0.0,-1.0,0,0.0,1.0,0.0,0.0,1,0,0,0
4359,1,26,0,spirit,5.0,1.0,0.0,22.0,7.0,0,0.0,1.0,0.0,0.0,0,0,0,0
4360,6,36,3,protestant,8.0,1.0,1.0,21.0,0.0,0,0.0,1.0,0.0,0.0,0,0,0,0

In [66]:
botswana.idlnchld.fillna(-1, inplace=True)
botswana.heduc.fillna(-2, inplace=True)
botswana.usemeth.fillna(-1, inplace=True)

In [67]:
botswana_dropped2 = botswana.dropna()
botswana_dropped2.shape

(4348, 18)

In [69]:
botswana_dropped2.shape[0]*botswana_dropped2.shape[1]

78264

In [72]:
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms

In [71]:
m1 = smf.ols('ceb ~ age + educ + religion + idlnchld + knowmeth + usemeth + agefm + heduc + urban + electric + radio +'\
                    'tv + bicycle + nevermarr + idlnchld_noans + heduc_noans + usemeth_noans', 
             data=botswana_dropped2)
fitted = m1.fit()
print fitted.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.644
Model:                            OLS   Adj. R-squared:                  0.643
Method:                 Least Squares   F-statistic:                     412.5
Date:                Wed, 22 Jun 2016   Prob (F-statistic):               0.00
Time:                        18:07:40   Log-Likelihood:                -7732.1
No. Observations:                4348   AIC:                         1.550e+04
Df Residuals:                    4328   BIC:                         1.563e+04
Df Model:                          19
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------------------
Intercept                 -1.0263      0.212     -4.835      0.000        -1.443    -0.610
religion[T.other]         -0.0830      0.083     -1.001      0.317        -0.245     0.080
religion[T.protestant]    -0.0149      0.082     -0.181      0.857        -0.176     0.146
religion[T.spirit]        -0.0191      0.077     -0.248      0.804        -0.171     0.132
age                        0.1703      0.003     51.891      0.000         0.164     0.177
educ                      -0.0724      0.007     -9.843      0.000        -0.087    -0.058
idlnchld                   0.0760      0.011      6.923      0.000         0.054     0.098
knowmeth                   0.5564      0.121      4.580      0.000         0.318     0.795
usemeth                    0.6473      0.048     13.424      0.000         0.553     0.742
agefm                     -0.0604      0.007     -9.213      0.000        -0.073    -0.048
heduc                     -0.0551      0.008     -6.838      0.000        -0.071    -0.039
urban                     -0.2137      0.047     -4.527      0.000        -0.306    -0.121
electric                  -0.2685      0.077     -3.479      0.001        -0.420    -0.117
radio                     -0.0235      0.051     -0.461      0.645        -0.123     0.076
tv                        -0.1451      0.093     -1.566      0.118        -0.327     0.037
bicycle                    0.2139      0.050      4.260      0.000         0.115     0.312
nevermarr                 -2.2393      0.148    -15.143      0.000        -2.529    -1.949
idlnchld_noans             0.6539      0.153      4.286      0.000         0.355     0.953
heduc_noans               -0.8724      0.145     -6.026      0.000        -1.156    -0.589
usemeth_noans              0.7652      0.196      3.910      0.000         0.382     1.149
==============================================================================
Omnibus:                      224.411   Durbin-Watson:                   1.887
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              859.014
Skew:                           0.003   Prob(JB):                    2.93e-187
Kurtosis:                       5.178   Cond. No.                         361.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [73]:
print 'Breusch-Pagan test: p=%f' % sms.het_breushpagan(fitted.resid, fitted.model.exog)[1]

Breusch-Pagan test: p=0.000000

In [74]:
botswana_dropped2.drop('religion',axis=1, inplace=True)
botswana_dropped2.drop('radio',axis=1, inplace=True)
botswana_dropped2.drop('tv',axis=1, inplace=True)

/home/ar600/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/ar600/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/ar600/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [75]:
botswana_dropped2.head()

,ceb,age,educ,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,bicycle,nevermarr,idlnchld_noans,heduc_noans,usemeth_noans
0,0,18,10,4.0,1.0,1.0,0.0,-1.0,1,1.0,1.0,1,0,0,0
1,2,43,11,2.0,1.0,1.0,20.0,14.0,1,1.0,1.0,0,0,0,0
2,0,49,4,4.0,1.0,0.0,22.0,1.0,1,1.0,0.0,0,0,0,0
3,0,24,12,2.0,1.0,0.0,0.0,-1.0,1,1.0,1.0,1,0,0,0
4,3,32,13,3.0,1.0,1.0,24.0,12.0,1,1.0,1.0,0,0,0,0

In [76]:
m2 = smf.ols('ceb ~ age + educ + idlnchld + knowmeth + usemeth + agefm + heduc + urban + electric +'\
                    ' bicycle + nevermarr + idlnchld_noans + heduc_noans + usemeth_noans', 
             data=botswana_dropped2)
fitted = m2.fit()
print fitted.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.644
Model:                            OLS   Adj. R-squared:                  0.643
Method:                 Least Squares   F-statistic:                     559.5
Date:                Wed, 22 Jun 2016   Prob (F-statistic):               0.00
Time:                        18:28:48   Log-Likelihood:                -7734.5
No. Observations:                4348   AIC:                         1.550e+04
Df Residuals:                    4333   BIC:                         1.559e+04
Df Model:                          14
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------
Intercept         -1.0698      0.198     -5.393      0.000        -1.459    -0.681
age                0.1702      0.003     52.271      0.000         0.164     0.177
educ              -0.0729      0.007    -10.285      0.000        -0.087    -0.059
idlnchld           0.0770      0.011      7.042      0.000         0.056     0.098
knowmeth           0.5610      0.121      4.628      0.000         0.323     0.799
usemeth            0.6516      0.048     13.537      0.000         0.557     0.746
agefm             -0.0606      0.007     -9.240      0.000        -0.073    -0.048
heduc             -0.0573      0.008     -7.186      0.000        -0.073    -0.042
urban             -0.2190      0.047     -4.682      0.000        -0.311    -0.127
electric          -0.3207      0.070     -4.584      0.000        -0.458    -0.184
bicycle            0.2046      0.049      4.154      0.000         0.108     0.301
nevermarr         -2.2501      0.148    -15.231      0.000        -2.540    -1.961
idlnchld_noans     0.6565      0.152      4.310      0.000         0.358     0.955
heduc_noans       -0.8853      0.145     -6.122      0.000        -1.169    -0.602
usemeth_noans      0.7732      0.196      3.955      0.000         0.390     1.156
==============================================================================
Omnibus:                      224.096   Durbin-Watson:                   1.886
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              856.760
Skew:                           0.004   Prob(JB):                    9.06e-187
Kurtosis:                       5.175   Cond. No.                         345.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [77]:
print 'Breusch-Pagan test: p=%f' % sms.het_breushpagan(fitted.resid, fitted.model.exog)[1]

Breusch-Pagan test: p=0.000000

In [78]:
m3 = smf.ols('ceb ~ age + educ + idlnchld + knowmeth + usemeth + agefm + heduc + urban + electric +'\
                    ' bicycle + nevermarr + idlnchld_noans + heduc_noans + usemeth_noans', 
             data=botswana_dropped2)
fitted = m3.fit(cov_type='HC1')
print fitted.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.644
Model:                            OLS   Adj. R-squared:                  0.643
Method:                 Least Squares   F-statistic:                     463.4
Date:                Wed, 22 Jun 2016   Prob (F-statistic):               0.00
Time:                        18:30:34   Log-Likelihood:                -7734.5
No. Observations:                4348   AIC:                         1.550e+04
Df Residuals:                    4333   BIC:                         1.559e+04
Df Model:                          14
Covariance Type:                  HC1
==================================================================================
                     coef    std err          z      P>|z|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------
Intercept         -1.0698      0.258     -4.152      0.000        -1.575    -0.565
age                0.1702      0.004     38.746      0.000         0.162     0.179
educ              -0.0729      0.007    -10.311      0.000        -0.087    -0.059
idlnchld           0.0770      0.014      5.323      0.000         0.049     0.105
knowmeth           0.5610      0.174      3.224      0.001         0.220     0.902
usemeth            0.6516      0.052     12.571      0.000         0.550     0.753
agefm             -0.0606      0.010     -6.192      0.000        -0.080    -0.041
heduc             -0.0573      0.009     -6.440      0.000        -0.075    -0.040
urban             -0.2190      0.045     -4.814      0.000        -0.308    -0.130
electric          -0.3207      0.063     -5.076      0.000        -0.445    -0.197
bicycle            0.2046      0.048      4.279      0.000         0.111     0.298
nevermarr         -2.2501      0.202    -11.158      0.000        -2.645    -1.855
idlnchld_noans     0.6565      0.216      3.043      0.002         0.234     1.079
heduc_noans       -0.8853      0.191     -4.638      0.000        -1.259    -0.511
usemeth_noans      0.7732      0.212      3.639      0.000         0.357     1.190
==============================================================================
Omnibus:                      224.096   Durbin-Watson:                   1.886
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              856.760
Skew:                           0.004   Prob(JB):                    9.06e-187
Kurtosis:                       5.175   Cond. No.                         345.
==============================================================================

Warnings:
[1] Standard Errors are heteroscedasticity robust (HC1)

In [88]:
0.6565- 0.0770

0.5795

In [79]:
print "F=%f, p=%f, k1=%f" % m1.fit().compare_f_test(m3.fit())

F=0.919236, p=0.467231, k1=5.000000

In [80]:
botswana_dropped3 = botswana_dropped2.drop('usemeth',axis=1)
botswana_dropped3 = botswana_dropped3.drop('usemeth_noans',axis=1)

In [81]:
m4 = smf.ols('ceb ~ age + educ + idlnchld + knowmeth + agefm + heduc + urban + electric +'\
                    ' bicycle + nevermarr + idlnchld_noans + heduc_noans', 
             data=botswana_dropped3)
fitted = m4.fit()
print fitted.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.629
Model:                            OLS   Adj. R-squared:                  0.628
Method:                 Least Squares   F-statistic:                     611.3
Date:                Wed, 22 Jun 2016   Prob (F-statistic):               0.00
Time:                        18:39:00   Log-Likelihood:                -7825.7
No. Observations:                4348   AIC:                         1.568e+04
Df Residuals:                    4335   BIC:                         1.576e+04
Df Model:                          12
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------
Intercept         -1.1931      0.202     -5.897      0.000        -1.590    -0.796
age                0.1776      0.003     54.368      0.000         0.171     0.184
educ              -0.0560      0.007     -7.862      0.000        -0.070    -0.042
idlnchld           0.0705      0.011      6.317      0.000         0.049     0.092
knowmeth           0.8739      0.121      7.203      0.000         0.636     1.112
agefm             -0.0649      0.007     -9.716      0.000        -0.078    -0.052
heduc             -0.0521      0.008     -6.411      0.000        -0.068    -0.036
urban             -0.1866      0.048     -3.917      0.000        -0.280    -0.093
electric          -0.3218      0.071     -4.505      0.000        -0.462    -0.182
bicycle            0.1979      0.050      3.935      0.000         0.099     0.296
nevermarr         -2.3625      0.150    -15.707      0.000        -2.657    -2.068
idlnchld_noans     0.5266      0.155      3.393      0.001         0.222     0.831
heduc_noans       -0.7947      0.147     -5.389      0.000        -1.084    -0.506
==============================================================================
Omnibus:                      250.641   Durbin-Watson:                   1.910
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              936.515
Skew:                          -0.158   Prob(JB):                    4.35e-204
Kurtosis:                       5.251   Cond. No.                         345.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [87]:
m3.fit().compare_f_test(m4.fit())

(92.890582301096643, 3.1552009480418772e-40, 2.0)